@{
    ViewBag.Title = "About";
}
<div id="main">
    <hr />
   <!---- <center><img src="~/Content/Img/work-in-progress.jpg" style="width:450px;height:450px"></center>-->
    <div class="row">
  <div class="col-md-4">

    <img src="~/Content/Img/about-image2.jpg" style="float:left;">
     <center> <p class="text">A chit fund comprises a group of members, called subscribers. An organizer, a company or a trusted relative or neighbor, brings the group together and administers the activities of the group. For their efforts, the organizer is either compensated each month or at withdrawal time. (The fee may be omitted in informal situations.)</p></center>

  </div>
   <div class="col-md-4">

       <img src="~/Content/Img/about-image3.jpg" style="float:center;">
      <center> <p class="text">A chit fund comprises a group of members, called subscribers. An organizer, a company or a trusted relative or neighbor, brings the group together and administers the activities of the group. For their efforts, the organizer is either compensated each month or at withdrawal time. (The fee may be omitted in informal situations.)</p></center>

   </div>
        <div class="col-md-4">

            <img src="~/Content/Img/plan-image.jpg" style="float:right;">
            <center><p class="text">A chit fund comprises a group of members, called subscribers. An organizer, a company or a trusted relative or neighbor, brings the group together and administers the activities of the group. For their efforts, the organizer is either compensated each month or at withdrawal time. (The fee may be omitted in informal situations.)</p></center>

        </div>
      </div>
    <div class="row1">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>